*.iml
.gradle
/local.properties
/.idea/*
/.idea/codeStyles/Project.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/gradle.xml
/.idea/assetWizardSettings.xml
/.idea
/app/live/release
/app/live/release/output.json
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
